@import "tailwindcss";
@import "tailwindcss/preflight";
@tailwind utilities;

:root {
  --font-geist-sans: poppins, sans-serif;
  --background: #000000;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  background: var(--background);
  color: var(--foreground);
}

@keyframes glow {
  0% {
    box-shadow: 
    0 0 6px #a29bfe,
    0 0 12px #5f27cd,
    0 0 24px #7506a9;

  }
  50% {
    box-shadow: 
    0 0 3px #c000a3,
    0 0 16px #ff00c8,
    0 0 20px #ff00ff;

  }
  100% {
    box-shadow: 
    0 0 6px #a29bfe,
    0 0 12px #5f27cd,
    0 0 24px #7506a9;

  }
}

@keyframes light-sweep {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.glowing-border {
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.1), transparent);
  background-size: 200% 100%;
  animation: glow 3s infinite ease-in-out, light-sweep 3s infinite linear;
}

.glowing-border, .spantxt {
  padding: 0.25rem 0.5rem;

}
